*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(201, 228, 202);
    padding: 20px;
    text-align: center;
}

.navbar h1{
    list-style: none;
    font-size: 30px;
    width: 100vw;
   line-height: 65px;
}

.map{
    background-color: white;
    padding: 20px;
    text-align: center;
}